@model QueenLand.Models.projectitem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới</h2>
<script src="/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Create", "projectitem", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Tên danh mục con</label>
                <input name="itemname" type="text" id="itemname" value="" class="form-control" placeholder="Gõ tên"/>
                @Html.ValidationMessageFor(model => model.itemname)
              </div>
         </div>
         <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Thuộc danh mục</label>                
                <select class="form-control" name="projectid" id="projectid">
                </select>
              </div>
         </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="room" style="width:auto;display:block;">Chèn ảnh vào bài viết</label>
                <input name="imageFileContent" type="file" id="imageFileContent" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcessContent();" />
                <div id="progressbarContent" class="progressbar">
                    <div id="progresslabelContent" class="progressbarlabel"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="room" style="width:auto;display:block;">List ảnh bài viết</label>
                <div id="imageShowContent" style="width:auto;height:auto;"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="room" style="width:auto;display:block;">Nội dung</label>
                <textarea name="fullcontent" id="fullcontent" rows="20" cols="80">
                    Gõ nội dung ở đây
                </textarea>
                <script>
                    CKEDITOR.replace('fullcontent');
                </script>
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-info" onclick="checkField();">Thêm mới</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    
    function checkField() {
        if (document.getElementById("itemname").value == "") {
            alert("Nhập sản phẩm!");
            document.getElementById("itemname").focus();
            return false;
        }
        if (document.getElementById("projectid").value == "") {
            alert("Nhập danh mục!");
            document.getElementById("projectid").focus();
            return false;
        }
        document.getElementById("EditForm").submit();
    }
    getListProject("");
    function getListProject(value) {
        //var formdata = new FormData(); //FormData object
        //formdata.append("keyword", keyword);
        //formdata.append("location", location);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/projectitem/getListProject');
        xhr.send();
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var news = '{"news":' + xhr.responseText + '}';
                var json_parsed = $.parseJSON(news);
                
                //alert(news);
                $("#projectid").html("<option selected=\"selected\" disabled=\"disabled\">Chọn</option>");
                //$("#dis").append("<option value='" + json_parsed.news[0].provin + "' >" + json_parsed.news[0].provin + "</option>");
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        $("#projectid").append("<option value='" + json_parsed.news[i].id + "'>" + json_parsed.news[i].name + "</option>");
                          
                    }
                }
                $("#projectid").val(value);
                //alert(news);
            }
        }
    }
    //Image upload
    function uploadProcessContent() {
        var title = unicodeToNoMark($("#itemname").val());
        if (title.trim() == "") {
            alert("Nhập tên danh mục");
            document.getElementById("itemname").focus();
            document.getElementById('imageFileContent').value = "";
            return;
        }
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFileContent');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            //break;
        }
        formdata.append("filename", title);
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbarContent").progressbar("value", progress);
            }
        }, false);

        xhr.open('POST', '/projectitem/UploadImageProcessContent');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$('#imageShowContent').append("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                $('#imageShowContent').append(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }
    $("#progressbar").progressbar({
        max: 100,
        change: function (evt, ui) {
            $("#progresslabel").text($("#progressbar").progressbar("value") + "%");
        },
        complete: function (evt, ui) {
            $("#progresslabel").text("File upload successful!");
        }
    });
    $("#progressbarContent").progressbar({
        max: 100,
        change: function (evt, ui) {
            $("#progresslabelContent").text($("#progressbarContent").progressbar("value") + "%");
        },
        complete: function (evt, ui) {
            $("#progresslabelContent").text("File upload successful!");
        }
    });
    evt.preventDefault();
</script>