@model QueenLand.Models.contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Nội dung liên hệ</h2>

<script src="/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Edit", "Contact", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Chèn ảnh vào bài viết</label>
                <input name="imageFileContent" type="file" id="imageFileContent" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcessContent();"/>                                
                <div id="progressbarContent" class="progressbar">
                    <div id="progresslabelContent" class="progressbarlabel"></div>
                 </div>  
              </div>
         </div> 
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">List ảnh bài viết</label>
                  <div id="imageShowContent" style="width:auto;height:auto;"></div>
              </div>
         </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Nội dung</label>                
                 <textarea name="fullcontent" id="fullcontent" rows="20" cols="80">
                     @Model.fullcontent
                </textarea>
                <script>
                    CKEDITOR.replace('fullcontent');
                </script>                       
              </div>
        </div>                
    </fieldset>
}
<p>
    <button type="button" class="btn btn-info" onclick="checkField();">Sửa</button>
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div id="loadingImage" name="loadingImage" style="z-index:1000;position:fixed;left:40%;top:30%;width:32px;height:32px;display:none;">
    <img src="/Images/loading.gif">
</div>
<script>

    function checkField() {
        if (document.getElementById("fullcontent").value == "") {
            alert("Nhập nội dung!");
            document.getElementById("fullcontent").focus();
            return false;
        }
        document.getElementById("EditForm").submit();
    }
    //Image upload
    function uploadProcessContent() {

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFileContent');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            //break;
        }
        formdata.append("filename", "");
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbarContent").progressbar("value", progress);
            }
        }, false);

        xhr.open('POST', '/Admin/UploadImageProcessContent');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //$('#imageShowContent').append("<img src=\"" + xhr.responseText + "\" width=200 height=126>");
                $('#imageShowContent').append(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }

    $("#progressbarContent").progressbar({
        max: 100,
        change: function (evt, ui) {
            $("#progresslabelContent").text($("#progressbarContent").progressbar("value") + "%");
        },
        complete: function (evt, ui) {
            $("#progresslabelContent").text("File upload successful!");
        }
    });
    evt.preventDefault();
</script>
